input[type='text']{
    text-transform: capitalize!important;
}

.badge{
    font-weight:bolder !important;
    font-size: 13px!important;
}
.badge-success{
    background: #b089ff!important;
}
.badge-tomato{
    background: tomato!important;
}
.badge-orange{
    background: orange!important;
}
.badge-purple{
    background: purple!important;
}
.badge-maroon{
    background: deeppink!important;
}

thead{
    background: #eee!important;
    font-weight: bolder!important;
}
.jumbo{
    top:0!important;
    background: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,.9)), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;height:300px;
    background-attachment: fixed;width:100%;
    padding:20px 20px 20px 20px;color: #ffffff;font-size:15px;
}